<%- include('header') -%>
<%- include('sidebar') -%>

<div class="flex flex-row flex-wrap flex-1 flex-grow content-start pl-16 w-full">
    <div class="p-5 w-full"><p>Vehicle ID# <%= vehicle_id %></p>
        <table id="vehiclesTable" class="border-collapse w-full border border-slate-400 dark:border-slate-500 bg-white dark:bg-slate-800 text-sm shadow-sm">
            <thead class="">
                <tr>
                    <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left w-2/3">Locations</th>                    
                    <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Start Time</th>
                    <th class="w-1/2 border border-slate-300 dark:border-slate-600 font-semibold p-4 text-slate-900 dark:text-slate-200 text-left">Starting Location / Time</th>

                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < location_list.length; i++) { %>
                <tr id="_last_location_id">
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"> 
                        <% time_log_data = JSON.parse(location_list[i].time_log) %>
                        <% for(var j=0; j < time_log_data.length; j++) { %>
                            Lon,Lat: <%= time_log_data[j].longitude %>, <%= time_log_data[j].latitude %>  at Time: <%= time_log_data[j].time %> <hr>
                        <% } %>
                        
                    </td>
                    <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= location_list[i].present_location %></td>
                     <td class="border border-slate-300 dark:border-slate-700 p-4 text-slate-500 dark:text-slate-400"><%= location_list[i].date %></td>
                    
                </tr>
                <% } %>
            </tbody>
        </table> 

       

    </div>

</div>



<%- include('footer') -%>